<!DOCTYPE html>
<html>
    <head>
        <title>Workout Logger</title>
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script src="{{ url_for('static',filename='script.js') }}"></script>
        {% block javascript %}
        {% endblock %}
    </head>
<body>
    <div id="menu">
        <a href="http://192.168.1.71:5000/" class="menu_item">Home</a>
        <a href="/add_workout" class="menu_item">Add Workout</a>
        <a href="/stats" class="menu_item">Stats</a>
        <a href="/workout" class="menu_item">Workouts</a>
        <a href="/settings" class="menu_item">Settings</a>
    </div>

    <div class="main_div">
    {% block content %}
    {% endblock %}
    </div>
</body>
    
</html>