{% extends "base.html" %}

{% block title %}
    <title>Workout logger</title>
{% endblock %}

{% block content %}

<div id="workoutMaster" class="border">
    <div class="nextWorkout">
        <p>{{nextWorkout}} is your upcoming workout</p>
    </div>
    <div class="flexColumn flexCenter addExerciseContainer">
        <button id="add_exercise_home_btn" type="button" class="addExerciseButton" onclick="toggleVisibilityById('add_new_workout')">+ Workout</button>
    </div>
    <div id="add_new_workout" visibility="hidden">
            <div id="setsDiv" class="setsDiv border" count="1">
                <select id="dynamic_workout_input_main_submit_btn" name="workout">
                    {% for workout in workout_names %}
                        <option>{{workout[0]}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="reps">Reps</label>
                <input id="dynamic_reps_main_submit_btn" type="number" id="reps" name="reps" min="1" max="100" placeholder="Reps" required="true">
                Weight 
                <input id="dynamic_weight_main_submit_btn" type="number" id="weight" name="weight" min="1" max="2000" placeholder="Weight" required="true">
                <div>
                    <button id="main_submit_btn" type="button"  class="submit_btn">&#10004;</button>
                    <button onclick="" type="button" class="delete_btn">&#10006;</button>
                </div>
            </div>
    </div>

    {% for date in workoutsJson2 %}
    <div id="workoutDivBlock" class="border">
        {% set workout_keys = workoutsJson2[date].keys()|list %}
        {{workout_keys[0]}} Day<br>
        <button class="setDiv{{date}}" id ="button{{date}}" type="button" onclick="toggleVisibilityById(this.classList[0])">Details</button>
        <div id="setDiv{{date}}" class="setDiv" visibility="hidden">
            {% for exercise in workoutsJson2[date] %}

                <fieldset>
                    <legend>{{exercise}}</legend>
                
                    {% for set in workoutsJson2[date][exercise] %}
                    <div id="testSet_{{set.workout_id}}" class="testSetDiv border">
                        <p id="setItem-{{set.workout_id}}">Set {{set.set_num}} <br> {{set.reps}} Reps x {{set.weight}} lbs. = {{set.reps|int * set.weight|int}} Work</p>

                        <form id="editSetForm-{{set.workout_id}}" class="editSetForm-{{set.workout_id}} flexColumn" visibility="hidden">
                            <label>Set</label><input id="editSetFormSet-{{set.workout_id}}" type="number" value="{{set.set_num}}">
                            <label>Reps</label><input id="editSetFormReps-{{set.workout_id}}" type="number" value="{{set.reps}}">
                            <label>Weight</label><input id="editSetFormWeight-{{set.workout_id}}" type="number" type="number"value="{{set.weight}}">
                        </form>
                        
                        <div class="flexColumn test">
                            <button onclick="deleteSet('{{set.workout_id}}')" type="button" class="{{set.workout_id}} delete_btn">&#10006;</button>
                            <button id="{{set.workout_id}}" name="editSetBtn" type="button" class="edit_btn">&#9998;</button>
                            <button id="submitEditSet-{{set.workout_id}}" type="button" visibility="hidden" onclick="submitEdit('{{set.workout_id}}')" class="submit_btn">&#10004;</button>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="addDynamicSet{{exercise}}_{{date}}" class="testSetDiv border" visibility="hidden">
                        <div class="flexColumn">
                            <input id="addExercise{{exercise}}_{{date}}" value='{{exercise}}' visibility="hidden">
                            <label>Set</label>
                            <input id="addSet{{exercise}}_{{date}}" type="number" value={{workoutsJson2[date][exercise]|length+1}} min="1">
                            <label>Reps</label>
                            <input id="addReps{{exercise}}_{{date}}" type="number" value="1" min="1">
                            <label>Weight</label>
                            <input id="addWeight{{exercise}}_{{date}}" type="number" value="1" min="1">
                            
                        </div>
                        <div class="flexCenter flexColumn test">
                            <button id="{{exercise}}_{{date}}" class="submit_btn" name="submit_set" type="button" date="{{date}}" exercise="{{exercise}}">&#10004;</button>
                        </div>
                    </div>
                    <div class="add_set_div flexColumn flexCenter">
                        <button type="button" class="add_set_btn" onclick="toggleVisibilityById('addDynamicSet{{exercise}}_{{date}}')">+</button> <br>
                    </div>
                </fieldset>
            {% endfor %}

            <div id="test12_{{date}}" visibility="hidden">
                <div id="setsDiv" class="setsDiv border" count="1">
                    <select id="dynamic_workout_input_{{date}}" name="workout">
                        {% for workout in workout_names %}
                            <option>{{workout[0]}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="reps">Reps</label>
                    <input id="dynamic_reps_{{date}}" type="number" id="reps" name="reps" min="1" max="100" placeholder="Reps" required="true">
                    Weight 
                    <input id="dynamic_weight_{{date}}" type="number" id="weight" name="weight" min="1" max="2000" placeholder="Weight" required="true">
                    <div>
                        <button type="button" date="{{date}}" id="addNewWorkoutToExisting" class="submit_btn">&#10004;</button>
                        <button type="button" onclick="submitDynamicSet2('dynamic_workout_input_{{date}}', 'dynamic_weight_{{date}}', 'dynamic_reps_{{date}}', '1', '{{date}}'  )" class="submit_btn">OLD</button>
                    </div>
                </div>
        </div>

            <div id="add_exercise_home_btn_{{date}}" class="flexColumn flexCenter">
                <button id="add_exercise_home_btn" type="button" class="" onclick="toggleVisibilityById('test12_{{date}}')">+ Exercise</button>
            </div>
            
        </div>
        <br>
        <div id="notesDiv{{date}}">
            <label for="notesDiv{{date}}">Notes: </label>
            <p id="notesText{{date}}" class="notesText">{{workoutsJson[date[6]]}}</p><br>
        </div>
        <br>
        <a href="/delete/{{date}}"><button type="button" class="delete{{date}} delete_btn" onclick=>&#10006;</button></a>
        <button type="button" id="edit{{date}}" workoutId="{{date}}" onclick="editExercise(document.getElementById('edit{{date}}').getAttribute('workoutId'))">Edit..</button>
        <label class="setDateLabel">{{date_key[date]}}</label>
    </div>
    {% endfor %}
{% endblock %}