{% extends "base.html" %}

{% block title %}
    <title>Workout logger</title>
{% endblock %}

{% block content %}

<div id="workoutMaster" class="border">
    <div class="nextWorkout">
        <p>{{nextWorkout}} is your upcoming workout</p>
    </div>

    <div class="flexColumn flexCenter addExerciseContainer">
        <button type="button" class="addExerciseButton">+ Exercise</button>
    </div>
    
    {% for date in workoutsJson2 %}
    <div id="workoutDivBlock" class="border">
        {% set workout_keys = workoutsJson2[date].keys()|list %}
        {{workout_keys[0]}} Day<br>
        <button class="setDiv{{date}}" id ="button{{date}}" type="button" onclick="toggleVisibility(this.classList[0])">Details</button>
        <div id="setDiv{{date}}" class="setDiv" visibility="hidden">
            {% for exercise in workoutsJson2[date] %}

                <fieldset>
                    <legend>{{exercise}}</legend>
                
                    {% for set in workoutsJson2[date][exercise] %}
                    <div class="testSetDiv border">
                        <p id="setItem-{{set.workout_id}}">Set {{set.set_num}} <br> {{set.reps}} Reps x {{set.weight}} lbs. = {{set.reps|int * set.weight|int}} Work</p>
                        <form id="editSetForm-{{set.workout_id}}" class="editSetForm-{{set.workout_id}} flexColumn" visibility="hidden">
                            <label >Reps</label><input id="editSetFormReps-{{set.workout_id}}" type="text" value="{{set.reps}}">
                            <label>Weight</label><input id="editSetFormWeight-{{set.workout_id}}" type="text" value="{{set.weight}}">
                        </form>
                        <div class="flexColumn test">
                            <button onclick="deleteSet('{{set.workout_id}}')" type="button" class="{{set.workout_id}} delete_btn">&#10006;</button>
                            <button type="button" onclick="edit_set('{{set.workout_id}}')" class="edit_btn">&#9998;</button> 
                            <button id="submitEditSet-{{set.workout_id}}" type="button" visibility="hidden" onclick="submit_edit('{{set.workout_id}}')" class="submit_btn">&#10004;</button>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="add_set_div flexColumn flexCenter">
                        <button type="button" class="add_set_btn">+</button> <br>
                    </div>
                </fieldset>
            {% endfor %}
            
        </div>
        <br>
        <div id="notesDiv{{date}}">
            <label for="notesDiv{{date}}">Notes: </label>
            <p id="notesText{{date}}" class="notesText">{{workoutsJson[date[6]]}}</p><br>
        </div>
        <br>
        <a href="/delete/{{date}}"><button type="button" class="delete{{date}}" onclick=>Delete</button></a>
        <button type="button" id="edit{{date}}" workoutId="{{date}}" onclick="editExercise(document.getElementById('edit{{date}}').getAttribute('workoutId'))">Edit..</button>
        <label class="setDateLabel">{{date_key[date]}}</label>
    </div>
    {% endfor %}
{% endblock %}