{% extends "base.html" %}
{% block title %}
<title>Settings</title>
{% endblock %}

{% block content %}
<div id="workoutMaster" class="border marginMain">
    <div class="flexColumn">
        <div class="settings_item">
            <label>Pounds/KGs:</label>
            <input type="selection" placeholder="Testing">
        </div>
        <div class="settings_item">
            <label>Add Workout:</label>
            <input id="addWorkoutSettings" type="text" name="workout" placeholder="Bench">
            <input type="button" value="Add" onclick="addWorkout()">
        </div>
        <div class="settings_item">
            <label>Remove Workout:</label>
            <input id="removeWorkoutSettings" type="text" name="workout" placeholder="Bench">
            <input type="button" value="Remove" onclick="removeWorkout()">
        </div>
        <div class="settings_item">
            <fieldset>
                <legend>Current Workouts</legend>
                <ul>
                    {% for workout in workouts %}   
                        <li><label>{{workout[0]}}</label></li>
                    {% endfor %}
                    </ul>
                </div>
            </fieldset>
           
    </div>
</div>
{% endblock %}